{% extends "layout.html" %}
{% block content %}

<h1>Appointment List</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>patient name</th>
        <!-- <th>patient</th> -->
        <th></th>
        <th></th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.department.name }}</td>
        <td>{{ appointment.doctor.name }}</td>
        <!-- <td>{{ appointment.patient_name }}</td> -->
        <td>{{ appointment.patient.name }}</td>
        <!-- <td><a href="/appointment/{{appointment.id}}/del/">Delete</a></td> -->
        <td><a href="/appointment/{{ appointment.id }}">Edit</a></td>
        <td><form action="/appointment/{{ appointment.id }}/del" method="post" enctype="multipart/form-data"> <input type="submit" value="Delete"></form></td>
        <!-- <td><a href="/doctor/{{ appointment.id }}/appointments">Appointments</a></td> -->

    </tr>
    {% endfor %}
</table>
{% endblock %}