{% extends "layout.html" %}
{% block content %}
<form method="post" action="/doctors/appointments">
    <h1>Book an appointment</h1>
    <button
  hx-get="/patient" 
  hx-target="#output">new patient history</button>
<div id="output"></div>
    <label for="doctor_id">Doctor</label>
    <select name="doctor_id" id="">
        {% for doctor in doctors %}
            <option value="{{ doctor.id }}">{{ doctor.name }}</option>
        {% endfor %}
    </select>
    <label for="patient_id">Patient</label>
    <select name="patient_id" id="">
        {% for patient in patients %}
            <option value="{{ patient.id }}">{{ patient.name }}</option>
        {% endfor %}
    </select>
    <label for="department_id">Department:</label>
    <select name="department_id" id="department_id">
        {% for department in departments %}
            <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
    </select>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date">
    <label for="time">Time:</label>
    <input type="time" name="time" id="time">
    <input type="submit" value="Book">
</form>
{% endblock %}