{% extends "layout.html" %}
{% block content %}
<div class="container">
<h1>Book an appointment</h1>
<form class="form-horizontal" method="post" action="/doctors/appointments">
    <!-- <button
  hx-get="/patient" 
  hx-target="#output">new patient history</button> -->
<!-- <div id="output"></div> -->
<div class="form-group">
    <label class="control-label col-sm-2" for="doctor_id">Doctor:</label>
    <div class="col-sm-10">
        <select name="doctor_id" id="" class="form-control" required >
                <option selected  value="{{ appointment.doctor.id }}">{{ appointment.doctor.name }}</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Patient Name:</label>
    <div class="col-sm-10">
      <input type="text" name="patient_name" id="Patient" value="{{ appointment.patient_name }}" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="department_id">Department:</label>
    <div class="col-sm-10">
        <select name="department_id" id="" class="form-control" >
            {% for department in departments %}
                <option value="{{ department.id }}">{{ appointment.department.name }}</option>
            {% endfor %}
        </select>
    </div>
  </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="date">Date:</label>
        <div class="col-sm-10">
          <input type="date" name="date" id="date" class="form-control" value="{{ appointment.date}}" required>
        </div>
      </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
    </div>
</form>
</div>
{% endblock %}