<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/hospital-logo.png') }}" alt="Hospital Logo">
        </div>
    </header>

    <div class="content1">
        <h1>Welcome to Hospital System</h1>
        <p>Providing Quality Healthcare Services</p>
        <a class="cta-button" href="/doctors">Get Started</a>
    </div>

    <div class="features">
        <div class="feature">
        <img src="{{ url_for('static', filename='images/appointments.png') }}" alt="Feature 1">
        <h2>Appointment Scheduling</h2>
        <p>Easily schedule and manage appointments for patients, doctors, and other healthcare providers. Improve efficiency and reduce wait times.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/doctor.png') }}" alt="Feature 2">
            <h2>Doctors Management</h2>
            <p>Efficiently manage doctors' information, schedules, and assignments. Keep track of their qualifications, availability, and specializations.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/patients.png') }}" alt="Feature 3">
            <h2>Patients Management</h2>
            <p>Ensure seamless patient management, including registration, medical history, and treatment plans. Enhance patient care and follow-ups.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/departments.png') }}" alt="Feature 4">
            <h2>Departments Management</h2>
            <p>Efficiently organize and manage hospital departments. Assign staff, resources, and equipment to ensure smooth operations and collaboration.</p>
        </div>
    </div>



    <div class="content2">
        <h3>The Hospital System Project is a comprehensive software solution designed to streamline and optimize various aspects of hospital management. </h3>
        <h3> It aims to improve the efficiency of administrative tasks, enhance patient care, and facilitate seamless communication between healthcare professionals.</h3>
        <h3>With the Hospital System Project, hospitals can effectively manage patient records, appointments, billing, and inventory. </h3>
        <h3> The system provides real-time access to critical information, enabling medical staff to make informed decisions and deliver high-quality healthcare services.</h3>
    </div>

    <section id="about">
        <div class="container">
        <h2>About Us</h2>
        <div class="team-members">
            <div class="team-member">
            <h3>Mohamed Nasef</h3>
            <ul>
                <li><a href="www.linkedin.com/in/mohamed-nasef-093931246">LinkedIn</a></li>
                <li><a href="https://github.com/Nasef161995">GitHub</a></li>
                <li><a href="https://twitter.com/Mohamed43012214">Twitter</a></li>
            </ul>
            </div>
            <div class="team-member">
            <h3>Mona Eid</h3>
            <ul>
                <li><a href="https://www.linkedin.com/in/mona-eid-0097/">LinkedIn</a></li>
                <li><a href="https://github.com/MonaaEid/">GitHub  <i class="fa fa-github"></i></a></i></li>
                <li><a href="https://twitter.com/monaeidtech">Twitter</a></li>
            </ul>
            </div>
        </div>
        <p>
            <a href="https://github.com/MonaaEid/Hospital-Mangement-System" target="_blank">GitHub Repository</a>
        </p>
        </div>
        </section>

    <footer>
    <div class="container">
      <p>&copy; 2024 Hospital System. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>