<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/hospital-logo.png') }}" alt="Hospital Logo">
        </div>
    </header>

    <div class="content1">
        <h1>Welcome to Hospital System</h1>
        <p>Providing Quality Healthcare Services</p>
        <a class="cta-button" href="#">Get Started</a>
    </div>

    <div class="features">
        <div class="feature">
        <img src="{{ url_for('static', filename='images/image2.png') }}" alt="Feature 1">
        <h2>Appointment Scheduling</h2>
        <p>Easily schedule and manage appointments for patients, doctors, and other healthcare providers. Improve efficiency and reduce wait times.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/image1.png') }}" alt="Feature 2">
            <h2>Doctors Management</h2>
            <p>Efficiently manage doctors' information, schedules, and assignments. Keep track of their qualifications, availability, and specializations.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/image2.png') }}" alt="Feature 3">
            <h2>Patients Management</h2>
            <p>Ensure seamless patient management, including registration, medical history, and treatment plans. Enhance patient care and follow-ups.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/image1.png') }}" alt="Feature 4">
            <h2>Departments Management</h2>
            <p>Efficiently organize and manage hospital departments. Assign staff, resources, and equipment to ensure smooth operations and collaboration.</p>
        </div>
    </div>





    <div class="content2">
        <h2>About the Hospital System Project</h2>
        <p>The Hospital System Project is a comprehensive software solution designed to streamline and optimize various aspects of hospital management. It aims to improve the efficiency of administrative tasks, enhance patient care, and facilitate seamless communication between healthcare professionals.</p>
        <p>With the Hospital System Project, hospitals can effectively manage patient records, appointments, billing, and inventory. The system provides real-time access to critical information, enabling medical staff to make informed decisions and deliver high-quality healthcare services.</p>
    </div>



    <footer>
    <div class="container">
      <p>&copy; 2024 Hospital System. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>