{% extends "layout.html" %}
{% block header %}
<div  class="headline">

    <h1>Doctor List</h1>
</div>
<input type="button" value="Add doctor record" onclick="window.location.href='/doctor'">

{% endblock %}
{% block content %}

<table>
    <tr>
        <th>Doctor Name</th>
        <th>Doctor Salary</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for doctor in doctors %}
    <tr>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.salary }}</td>
        <td>{{ doctor.phone }}</td>
        <td>{{ doctor.email }}</td>
        <td>{{ doctor.address }}</td>
        <!-- <td><a href="/doctors/{{doctor.id}}/del/">Delete</a></td> -->
        <td><a href="/doctors/{{ doctor.id }}">Edit</a></td>
        <td><form action="/doctors/{{ doctor.id }}/del" method="post" enctype="multipart/form-data"> <input type="submit" value="Delete"></form></td>
        <td><a href="/doctors/{{ doctor.id }}/appointments">Appointments</a></td>

    </tr>
    {% endfor %}
</table>
{% endblock %}