{% extends "layout.html" %}
{% block body %}

<h1>Doctors List</h1>
<table>
    <tr>
        <th>Doctor Name</th>
        <th>Specialization</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    {% for doctor in doctors %}
    <tr>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>{{ doctor.phone }}</td>
        <td>{{ doctor.email }}</td>
        <td>{{ doctor.address }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}