<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital System</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
    
    
</head>
<body>
     <header>
    <!-- Header Start -->
    <div class="header-area">
        <a href="index.html"><img src="assets/logo/hospital-logo.png" alt=""></a>
    </div>
    <!-- Header End -->
    </header>
    <!-- start side ber -->
    <nav class="side-nav">
    <ul>
      <li><a href="index.html" class="active">Dashboard</a></li>
      <li><a href="appointment/appoinments.html">Appointments</a></li>
      <li><a href="patient/patients.html">Patients</a></li>
      <li><a href="doctor/doctors.html">Doctors</a></li>
      <li><a href="department/departments.html">Departments</a></li>
    
    </ul>
  </nav>

  <div class="dashboard-container">
  <div class="dashboard">
    <h1>Dashboard 1</h1>
    <h2>No of Patients </h2>
    
  </div>

  <div class="dashboard">
    <h1>Dashboard 2</h1>
    <h2>No of Doctors </h2>
    
  </div>

  <div class="dashboard">
    <h1>Dashboard 3</h1>
    <h2>No of Appointments </h2>
    
  </div>
</div>
    
</body>
</html>
