{% extends "layout.html" %}
{% block body %}
<form action="/storeDoctor" method="post">

    <h1> hello, {{ name }}</h1>
    <label for="name">name:</label></label> <input type="text" name="name" id="name">
    <label for="email">email:</label><input type="text" name="email" id="email">
    <label for="salary">Salary:</label></label><input type="text" name="salary" id="salary">
    <label for="phone">phone:</label><input type="text" name="phone" id="phone">
    <label for="address">address:</label><input type="text" name="address" id="address">
    <label for="gender">gender:</label><input type="radio" name="gender" value="Female" id ="gender"> <input type="radio" value="male" name="gender">


    <input type="submit" value="Submit">
</form>
{% endblock %}
